# Terraform state and cache
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
*.auto.tfvars.backup

secrets/

.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Argo/Workflow scratch data
workspace/

